@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'paragrafo';
    src: url('fonts/coolvetica\ rg.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

:root {
    --fontetitulo: 'Titillium Web', sans-serif;
    --fonteparagrafo: 'paragrafo', sans-serif;
    --fontelink: 'Comfortaa', cursive;
}

body {
    background-color: #116EFD;
}

header {
    color: white;
    background-image: linear-gradient(to bottom, rgb(70, 70, 70), black);
    margin: -22px -8px 20px -8px;
    text-align: center;
    padding: 10px 0px;
}

h1 {
    font: normal 600 2em var(--fontetitulo);
}

#linha1 {
    font-size: 1.4em;
    color: #ACC1CC;
}

#linhahtml {
    background-color: rgb(255, 104, 49);
    color: black;
    padding: 0px 20px;
    border-radius: 100px;
}

#linhacss {
    background-color: rgb(0, 200, 200);
    color: black;
    padding: 0px 20px;
    border-radius: 100px;
}

#linhahtml:hover {
    background-color: coral;
    color: white;
}

#linhacss:hover {
    background-color: cyan;
    color: white;
}

nav {
    margin-bottom: -26px;
}

ul {
    margin-top: 40px;
}

li {
    display: inline-block;
    padding: 15px 25px;
    background-color: black;
    border-radius: 5px;
    font: normal 600 0.8em var(--fontelink);
}

li:hover {
    background-color: #116FFF;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-color: white;
    margin: -20px auto;
    width: 95%;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.353);
    padding: 30px 0px;
}

p {
    font: normal 1.1em var(--fonteparagrafo);
    text-align: center;
    max-width: 70%;
    margin: auto;
}

#video {
    text-align: center;
    max-width: 55%;
    height: 450px;
    margin: 30px auto;
}

h2 {
    font: normal 600 1em var(--fontelink);
    padding: 7px 20px;
    border-radius: 100px;
    color: white;
    background-color: #90BCFF;
    width: 70%;
    margin: 15px auto;
}

h2:hover {
    width: 85%;
    transition: 0.5s;
}

h2:active {
    background-color: #116FFF;
    transition: 0.2s;
}

h2::before {
    content: '> ';
    font-size: 0.8em;
}

h2::after {
    content: ' <';
    font-size: 0.8em;
}

img {
    background-color: #90BCFF;
    border-radius: 100px;
    width: 50px;
}

img:hover {
    width: 60px;
    outline-width: 7px;
    outline-style: solid;
    outline-color: #90BCFF;
    transition: 0.2s;
}

img:active {
    width: 70px;
    outline: 1px solid #90BCFF;
    background-color: #116FFF;
    transition: 0.1s;
}

footer {
    background-color: black;
    margin: 20px auto -8px auto;
    width: 95%;
    padding: 30px 0px;
}

#subtitulo {
    text-align: center;
    background-color: black;
    color: #116FFF;
    font: normal 700 1.8em var(--fontetitulo);
}

#subtitulo::before {
    content: '';
}

#subtitulo::after {
    content: '';
}

footer > p {
    color: white;
    margin-top: -10px;
}

aside {
    text-align: center;
    margin-top: 20px;
}

.botao {
    display: inline-block;
    background-color: #116FFF;
    color: white;
    width: 35%;
    margin: 5px 3px;
    padding: 35px 5px;
    border-radius: 5px;
    font: normal 500 1em var(--fontelink);
}

.botao:hover {
    outline: 7px solid #116FFF;
    transition: 0.2s;
}

.botao:active {
    outline: 0px solid #116FFF;
    background-color: #075ad6;
    transition: 0.1s;
}