@charset "UTF-8";

@font-face {
    font-family: 'titulo';
    src: url('fonts/coolvetica\ rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --tituloprincipal: 'titulo', sans-serif;
    --paragrafo: 'Work Sans', sans-serif;
    --subtitulo: 'Righteous', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(225, 225, 225);
}

header {
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, rgb(74, 74, 74), rgb(17, 17, 17));
    min-height: 100px;
    padding: 20px 0px;
}

header h1 {
    font: 2em var(--tituloprincipal);
}

#destaque {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px 0px;
    max-width: 350px;
    min-width: 320px;
    margin: auto;
    border-radius: 100px;
    font-size: 1.5em;
    text-shadow: -2px 1px 0px rgb(185, 0, 0);
}

header p {
    font: normal 400 1.1em var(--paragrafo);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

nav {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 13px;
}

nav a {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 13px 35px;
    margin-left: -4px;
    border-radius: 5px;
    text-decoration: none;
    font: normal 500 1.1em var(--paragrafo);
}

#sony:hover {
    background-color: #007BCA;
    transition-duration: 0.5s;
}

#nintendo:hover {
    background-color: #FF000A;
    transition-duration: 0.5s;
}

#microsoft:hover {
    background-color: #007D00;
    transition-duration: 0.5s;
}

main {
    background-color: white;
    padding: 20px;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

main h2 {
    font: normal 900 1.8em var(--paragrafo);
    margin-bottom: 10px;
    margin-top: 10px;
}

main h3 {
    font: normal 700 1.3em var(--paragrafo);
    margin-top: 50px;
    margin-bottom: 10px;
}

#titulo_sony {
    background-image: linear-gradient(to right, #007BCA, transparent);
    color: white;
    padding: 5px;
    text-indent: 20px;
}

.link_sony {
    color: #007BCA;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
}

.link_sony::after {
    content: '\00A0\1F517';
}

.link_sony:hover {
    background-color: #c0e7ff;
    border-radius: 5px;
}

#titulo_nintendo {
    background-image: linear-gradient(to right, #FF000A, transparent);
    color: white;
    padding: 5px;
    text-indent: 20px;
}

#titulo_microsoft {
    background-image: linear-gradient(to right, #007D00, transparent);
    color: white;
    padding: 5px;
    text-indent: 20px;
}

main p {
    margin-bottom: 20px;
    font: normal 100 1em var(--paragrafo);
    line-height: 25px;
    text-align: justify;
    text-indent: 20px;
}

main img {
    width: 100%;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px 0px;
    font: normal 200 1em var(--paragrafo);
}

#meu_endereco {
    background-color: #007BCA;
    width: 45%;
    margin: 10px auto;
    padding: 10px 0px;
    border-radius: 100px;
}

#meu_endereco a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 3px 20px;
    border-radius: 100px;
    font: normal 500 1em var(--paragrafo);
}

#meu_endereco a:hover {
    background-color: #3a9ad6;
    transition-duration: 0.5s;
}