@charset "UTF-8";

@font-face {
    font-family: 'titulo';
    src: url('fonts/coolvetica\ rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --tituloprincipal: 'titulo', sans-serif;
    --paragrafo: 'Work Sans', sans-serif;
    --subtitulo: 'Righteous', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(229, 229, 229);
}

header {
    background-image: linear-gradient(to bottom, #006EB9, #002D6A);
    color: white;
    text-align: center;
    min-height: 100px;
    padding: 20px;
}

header h1 {
    font: normal 400 2em var(--tituloprincipal);
}

#destaque {
    display: block;
    font: 2em var(--tituloprincipal);
    background-color: black;
    border-radius: 100px;
    max-width: 400px;
    margin: auto;
}

header p {
    margin-top: 10px;
    font: normal 400 1.1em var(--paragrafo);
    padding: 5px 20px;
}

nav {
    text-align: center;
    background-color: #012961;
    padding: 10px;
}

nav a {
    background-color: #012961;
    color: white;
    padding: 10px 15px;
    margin-left: -4px;
    border-radius: 5px;
    text-decoration: none;
    font: normal 500 1.1em var(--paragrafo);
}

nav a:hover {
    background-color: #0083da;
    color: #012961;
    transition-duration: 0.5s;
}

nav a:active {
    background-color: #000000;
    color: white;
    transition-duration: 0s;
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
    margin-bottom: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2 {
    font: normal 800 1.5em var(--paragrafo);
    text-align: center;
    color: #002D6A;
    margin: 20px 0px 50px 0px;
}

main h3 {
    font: normal 600 1.3em var(--paragrafo);
    color: white;
    background-image: linear-gradient(to right, #057DCB, transparent);
    padding: 10px;
    text-indent: 10px;
    border-radius: 100px;
    width: 85%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

main p {
    font: normal 300 1.1em var(--paragrafo);
    line-height: 25px;
    text-align: justify;
    text-indent: 20px;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

main img {
    display: block;
    width: 80%;
    margin: auto;
}

.video {
    background-color: #012961;
    margin: 0px -20px;
    position: relative;
    padding-bottom: 590px;
}

.video > iframe {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
}

main a {
    text-decoration: none;
    color: #012961;
    font-weight: 600;
    background-color: #7EBCE4;
    padding: 5px;
    border-radius: 100px;
}

main a::after {
    content: '\00A0\1F517';
}

main a:hover {
    background-color: #000000;
    color: white;
}

main a:active {
    background-color: white;
    color: #002D6A;
}

aside h4 {
    background-color: #002D6A;
    color: white;
    font: normal 500 1.1em var(--paragrafo);
    padding: 10px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-indent: 20px;
    margin: -20px;
}

aside {
    background-color: #3A9AD6;
    border-radius: 10px;
    padding: 20px;
}

aside p {
    width: 100%;
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\1F3AE\00A0';
    padding: 20px;
    columns: 2;
    font: normal 100 1em var(--paragrafo);
    margin-top: -25px;
}

.games {
    background-color: transparent;
    color: black;
}

.games:hover {
    background-color: transparent;
    color: black;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 20px 0px;
}

footer > p {
    font: normal 300 1em var(--paragrafo);
}

#meu_endereco {
    background-color: #007BCA;
    width: 45%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0px;
    border-radius: 100px;
    font: normal 500 1em var(--paragrafo);
}

#meu_endereco a {
    text-decoration: none;
    color: white;
    padding: 5px 25px;
}

#meu_endereco a:hover {
    background-color: #3A9AD6;
    border-radius: 100px;
    transition-duration: 0.5s;
}