@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'titulo';
    src: url('fonts/coolvetica\ rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: 'xbox';
    src: url('imgs/fonts/X360.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --tituloxbox: 'xbox', sans-serif;
    --tituloprincipal: 'titulo', sans-serif;
    --paragrafo: 'Work Sans', sans-serif;
    --subtitulo: 'Righteous', cursive;
}

body {
    background-color: #E1E1E1;
}

header {
    background-image: linear-gradient(to bottom, #8BD80A, #107C10);
    color: white;
    text-align: center;
    padding: 30px 0px;
}

header h1 {
    font: normal 1.7em var(--tituloprincipal);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.177);
}

#destaque {
    display: block;
    font: 4.3em var(--tituloxbox);
    margin-top: -20px;
}

header p {
    font: normal 500 1.1em var(--paragrafo);
    padding: 0px 20px;
}

nav {
    text-align: center;
    background-color: #107C10;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font: normal 900 0.8em var(--paragrafo);
}

nav a:hover {
    color: #8BD80A;
    transition-duration: 0.2s;
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h2 {
    margin-top: 20px;
    color: #000000;
    text-align: center;
    font: 2em var(--tituloprincipal);
}

h3 {
    margin: 20px 0px;
    text-align: center;
    font: normal 800 1em var(--paragrafo);
}

h4 {
    background-image: linear-gradient(to right, #107C10, transparent);
    padding: 10px;
    color: white;
    font: normal 700 1.4em var(--paragrafo);
    border-radius: 100px;
    text-indent: 20px;
    margin: 20px;
}

#principal {
    font: bold 1.5em var(--tituloxbox);
    color: #107C10;
}

main p {
    font: normal 100 1em var(--paragrafo);
    line-height: 25px;
    text-align: justify;
    text-indent: 20px;
    padding: 0px 30px;
}

.video {
    background-color: #107C10;
    position: relative;
    padding-bottom: 400px;
    margin: 20px -20px;
}

.link {
    color: #084708;
    background-color: #75d875;
    padding: 5px 10px;
    border-radius: 100px;
    font-weight: 700;
    text-decoration: none;
}

.link::after {
    content: '\00A0\1F517';
}

.link:hover {
    background-color: black;
    color: white;
}

.link:active {
    background-color: white;
    color: #084708;
}

.video > iframe {
    position: absolute;
    left: 15%;
    top: 5%;
    width: 70%;
    height: 90%;
}

img {
    display: block;
    width: 70%;
    margin: 30px auto;
}

footer {
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 20px 0px;
    font: normal 500 1em var(--paragrafo);
}

#meu_endereco {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    color: #333333;
    padding: 10px;
    width: 300px;
    border-radius: 100px;
}

#meu_endereco > a {
    color: #333333;
    padding: 5px 10px;
    border-radius: 100px;
    text-decoration: none;
    font: normal 700 1em var(--paragrafo);
}

#meu_endereco > a:hover {
    background-color: #333333;
    color: white;
    transition-duration: 0.3s;
}

aside {
    background-color: #75d875;
    border-radius: 10px;
    padding: 15px;
}

aside p {
    width: 100%;
    padding: 5px 0px;
    font-size: 1.1em;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    padding: 10px;
    margin-bottom: 10px;
}

aside li {
    width: 200px;
    line-height: 35px;
}

aside a {
    background-color: #8fdf8f;
    border-radius: 100px;
    color: #084708;
    font: normal 700 .9em var(--paragrafo);
    padding: 5px 10px;
    text-decoration: none;
}

aside a::after {
    content: '\00A0\1F517';
}

aside a:hover {
    background-color: black;
    color: white;
}

aside a:active {
    background-color: white;
    color: #084708;
}

aside h5 {
    background-color: #084708;
    color: white;
    margin: -15px -15px 10px -15px;
    padding: 10px;
    font: normal 700 1.2em var(--paragrafo);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}